@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  overflow-x: hidden;
}
:root {
  --text-color--: #fefce8;
  --stext-color--: #854d0e;
  --head-text--: #fef08a;
  --primary-background--: #422006;
  --secondary-color--: #facc15;
}

nav {
  background-color: #fef08a;
  opacity: 0.9;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.navbar {
  height: 60px;
  margin: 0px 12.5%;
  justify-content: space-between;
  display: flex;
}

.link-right a {
  color: #a16207;
}

.link-right .aboutUs {
  color: #422006;
}

.link-left {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 2px;
}

.logo a {
  display: flex;
}
.logo img {
  width: 42px;
}

.link-left li a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #713f12;
}

.link-right {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  gap: 18px;
  font-weight: 600;
}

.link-right a:hover,
.link-left:hover {
  color: #422006;
}

.container1 {
  background-image: url(Image/58101162_1b2166.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 10%;
  background-size: cover;
}

.box1 {
  height: 50vh;
  margin: 0px 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box1 h1 {
  margin-top: 4%;
  color: var(--primary-background--);
  font-weight: 700;
  font-size: 2rem;
}

.box1 p {
  color: #ca8a04;
  font-weight: 500;
  font-size: 1.125rem;
}

.box1 a {
  color: #ca8a04;
  font-weight: 500;
  font-size: 1.125rem;
}

.box1 a:hover {
  color: var(--primary-background--);
}

.container2 {
  background-color: #422006;
}

.box2 {
  margin: 0px 12.5%;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  gap: 96px;
}

.row1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gambar1 {
  display: flex;
  width: 50%;
  justify-content: flex-start;
}

.gambar1 img {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  height: 280px;
  width: 90%;
}

.text1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.text1 h2 {
  font-size: 1.75rem;
  color: #fef9c3;
}

.text1 p {
  font-size: 1rem;
  font-weight: 500;
  text-align: justify;
  color: #fefce8;
}

.row2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gambar2 {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.row2 img {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  height: 280px;
  width: 90%;
}

.text2 {
  width: 50%;
  font-size: 1rem;
  text-align: justify;
  color: #fefce8;
  font-weight: 500;
}

.container3 {
  background-color: #fef08a;
}

.box3 {
  margin: 0px 12.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
  flex-wrap: wrap;
  gap: 24px;
}

.desc img {
  width: 40%;
}

.desc {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #422006;
}

.txt {
  font-weight: 500;
  font-size: 1.25rem;
  width: 100%;
}

.container4 {
  background-color: #422006;
}

.box4 {
  margin: 0px 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  padding: 60px 0;
  width: fit-content;
}

.box4 h3 {
  color: #fefce8;
  font-size: 2rem;
}

.left {
  width: 64px;
  height: 64px;
  background-color: #fefce8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.left img {
  width: 90%;
  height: 90%;
}

.row1-4 {
  display: flex;
  gap: 48px;
  width: 100%;
}

.desc1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.content1 {
  display: flex;
  gap: 18px;
  width: 100%;
}

.desc1 span {
  color: #fef9c3;
  font-weight: 600;
  font-size: 18px;
}

.desc1 p {
  color: #fefce8;
  font-weight: 500;
  font-size: 15px;
  text-align: justify;
}

.footer {
  background-color: #713f12;
}

.container {
  margin: 0px 12.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}

.footer-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 120px;
  color: #fefce8;
}

.footer-left img {
  width: 84px;
}

.footer-left span {
  font-size: 2.375rem;
  font-weight: 600;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.footer-right1 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #fef9c3;
}

.footer-right1 span {
  font-weight: 500;
  font-size: 1.5rem;
  color: #eab308;
  width: 100%;
}

.footer-right1 a {
  font-weight: 500;
  font-size: 1.125rem;
  color: #fef9c3;
}

.footer-right1 a:hover {
  color: #fde047;
}

.email {
  display: flex;
  gap: 12px;
  align-items: center;
}

.phone {
  display: flex;
  gap: 12px;
  align-items: center;
}

.footer-right1 img {
  width: 20px;
  height: 20px;
}

.logo-f img {
  width: 20px;
  height: 20px;
  padding: 3px;
}

.logo-fb:hover {
  background-color: #ca8a04;
  cursor: pointer;
}

.logo-f {
  display: flex;
  gap: 14px;
}

.logo-fb {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #fef9c3;
  border-radius: 100%;
  width: 28px;
  height: 28px;
}

.form1 {
  display: flex;
  flex-direction: column;
}

.form1 input {
  width: 156px;
  height: 28px;
  background-color: #fefce8;
  color: #422006;
  border: none;
  border-radius: 4px;
}

.form1 label {
  color: #eab308;
  font-size: 1.5rem;
  font-weight: 500;
}

.send {
  display: flex;
  gap: 8px;
  align-items: center;
}

.send button {
  display: flex;
  background-color: #ca8a04;
  border: none;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
}

.form1 input:focus {
  outline: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #713f12;
}
